<h1><%= @organization.name %></h1>

<ul>
  <% @organization.departments.each  do |department| %>
    <li>
      <%= department.name %>
      <ul>
        <% department.department_roles.each do |department_role| %>
          <li>
            <%= department_role.role.try(:name) %>
              <ul>
                <% department_role.skills.each do |skill| %>
                  <li><%= skill.name %></li>
                 <% end %>
              </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<ul>
  <% @roles.each  do |role| %>
    <li>
      <%= role.name %>
      <ul>
        <% role.departments.each do |department| %>
          <li>
            <%= department.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
