<%= simple_form_for(@job) do |job_form| %>
  <div>
    <%= job_form.association :department %>
  </div>
  <div>
    <%= job_form.association :role %>
  </div>
  <div>
    <%= job_form.association :skills, as: :check_boxes, collection: Skill.all.to_a, label_method: :name %>
  </div>
  <div>
    <%= job_form.button :submit, { class: 'btn btn-info btn-small actions' } %>
  </div>
<% end %>

