<h2>Compare Jobs</h2>
<div class="row ">
  <%= simple_form_for(@job, remote: true, url: 'jobs/add', html: { class: 'form-inline' }) do |job_form| %>
    <div class="form-group">
      <%= job_form.association :department, label: false, include_blank: 'Select a department' %>
    </div>
    <div class="form-group">
      <%= job_form.association :role, label: false, include_blank: 'Select a role' %>
    </div>
    <div class="form-group">
      <%= job_form.button :submit, 'Add Job', { class: 'btn btn-info btn-small button-inline' } %>
      <%= link_to 'Clear All', '#', onclick: "$('#jobs').children('div.job-column').remove(); return false;" %>
    </div>
  <% end %>
</div>
<div class="row"><div id="jobs"></div></div>
