<%= form_for(@role) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% Department.all.each do |department| %>
     <div class="field">
      <%= f.label department.name %><br>
      <%= f.check_box :department_ids, { multiple: true }, department.name %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
