<%= simple_form_for(@role) do |role_form| %>
  <div>
    <%= role_form.input :name, label: 'Name' %>
  </div>
  <div>In the following Departments (check all that apply):</div>
  <div>
    <%= role_form.simple_fields_for(:department_roles) do |department_form| %>
        <div>

          <%= department_form.collection_check_boxes(:department, :department_ids, Department.all, :id, :name) %>
        </div>
    <% end %>
  </div>
  <div>
    <%= role_form.button :submit, { class: 'btn btn-default btn-small' } %>
  </div>
<% end %>

