<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Pathfinder International Careers' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <%= render 'layouts/header' %>
    </div>
    <div class='row panel panel-body'>
      <div class='col-md-12'>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
